/*
!!!!!!!!!!!!!!!!!!do poprawy body i wrapper nie są od samej góry. Dlaczego - no idea!


!!!! do poprawy drop down menu, pojawia się po najechaniu na miejsce, gdzie się pojawi a nie tylko na nadrzędny li, poziom wyżej. zastosowane obejsce z opcją display


!!!! zamienić galerie z grid na float

*/

/*==============================================================
*
*	general	
*
==============================================================*/
body{margin: 0px auto;}
#wrapper{
	max-width: 1170px;
	margin: 15px auto;
}


.site-title a{
	text-align: center;
	width: 100%;
	margin: 50px auto 0 auto;
	display: block;
	padding: 10px;
}
/*==============================================================
*
*navigation
*
==============================================================*/

	/*======================================
	*
	* for screen
	*
	========================================*/

	@media only screen and (min-width: 650px) {

		.nav_icon{
			display: none;
		}
		.nav-main{
			text-align: center;
			width: 100%;
			padding-bottom: 10px 0;
		}
		.nav-main li{
			display: inline-block;
			padding: 5px 20px;	
		}
		.nav-main > a{
			
			display: block;
			border: 1px solid red;
		}

			/*========drop down menu========*/
				.nav-main > li{
					position: relative;
				}
				ul.drop-down-menu{
					/*opacity: 0;
					height: 0;*/
					position: absolute;
					transition: opacity .3s;
					padding-top: 5px;
					display: none;
				}
				ul.drop-down-menu li{
					display: block;
					padding: 5px;
				}
				
				.nav-main > li:hover ul.drop-down-menu{
					/*opacity: 1;
					height: auto;*/
					display: block;
				}
				
		/*for form */		
		article.main-content-form{
			max-width: 50%;
		}	
	}
	
	/*======================================
	*
	* for mobile (small screen etc)
	*
	========================================*/
	
	@media only screen and (max-width: 650px){
		
		
		ul.nav-main{display: none;}
		#close-menu{display: block;}
		#close-menu:hover {cursor: pointer;}
		
		#nav_icon{
			display: block;
		}
		div.nav_icon:hover{
			cursor: pointer;
		}
		
		.nav-main i{
			display: none;
		}
		
		
	}
	nav{text-align: center;}
	
	#nav-small{
		display: none;
		position: fixed;
		height: 100%;
		z-index: 10000;
		overflow: auto;
		background: #c9aaa2;
			
	}
	.close-menu{padding: 10px;  position: absolute; right: 10%;}
	.nav-mobile{padding-top: 75px;}


/*==============================================================
*
*	main content
*
==============================================================*/
section.main-content-main-page{
	margin: 40px auto;
	text-align: center;
}
div.main-image{
	text-align: center;
	margin: 0 0 25px 0;
}

img.main-image-miniature{
		vertical-align: middle;
		max-width: 80%;
	}
	

	
	/* ====== for bio ====== */
	
	.main-content-bio{text-align: center;}
	
	
	
	@media only screen and (min-width: 650px) {
		.main-content-bio{max-width: 80%; margin: 0px auto;}
		#avatar{float: left; margin-right: 10px;}		
	}
	/* ====== for bio mobile ====== */
	
	

/*==============================================================
*
*	footer
*
==============================================================*/
footer{
	text-align: center;
	padding: 30px 0;
	clear: left;
}

div.social{
	display: flex;
	justify-content: center;
}

.social-icon{
	padding: 10px 3px;
}


.credentials{
	padding: 10px;
}

/*==============================================================
*
*	form
*
==============================================================*/
article.main-content-form{
	margin: 0 auto;
	padding: 10px;
}

input, textarea{
	padding: 10px;
	margin-bottom: 15px;
}
input[type="submit"]{
	width: 100px;	
	float: left;
}
label{
	float: left;
}
#contact{
    clear: both;
    font-size: 12px;
}

/*==============================================================
*
*	gallery thumbnails general
*
==============================================================*/
/*@media only screen and (min-width: 650px) {
	.grid{
	display: grid;
	grid-template-columns: 50% 50%;
	}	
}*/

.flex{     
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;    
    margin: 0 10%;
    max-width: 80%;
    
}

.flex_gallery_item > *{
	padding: 10px;   
}
.flex_gallery_item {
	margin-bottom: 30px;   
}

/*
	specific gallery
*/

div.gallery{	
    margin: 10px 10%;
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    align-items: center;
    justify-content: center;
    max-width: 80%;
}

.gallery img{
	
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
	
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
	z-index: 1000;
}










	
	